<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CMSBaseURL</key>
	<string>$(CMSBaseURL)</string>
	<key>IS_APP_BUNDLE_ID</key>
	<string>$(IS_APP_BUNDLE_ID)</string>
	<key>IS_APP_NAME</key>
	<string>$(IS_APP_NAME)</string>
	<key>IS_APP_VERSION</key>
	<string>$(IS_APP_VERSION)</string>
	<key>OPENAI_API_KEY</key>
	<string>$(OPENAI_API_KEY)</string>
</dict>
</plist>
